body{
    font-family: "Montserrat-light";
}
h1{
    font-family: "Montserrat-black";
    line-height: 1.5;
    font-size: 3.5rem;
    color:antiquewhite;
    font-weight: bolder;
}
h2{
    font-family:"Montserrat-bold";
    font-size: 3rem;
    font-weight:bolder;
    line-height: 1.5;
}
h3{
    font-size: 1.5rem;
    font-family: "Montserrat";
    font-weight: bold;
}
p{
  color: #8f8f8f;
  font-size: larger;
}
.container-fluid{
    padding: 3% 15%;
}
#title{
    background-color: #ff4c68;
}
/* Navigation Bar */
.navbar{
    padding:0 0 4.5rem;
}
.nav-item{
    padding: 0 18px;
    color: white;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}
.navbar-brand{
    color: wheat;
   font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bolder;
    margin-right: 30rem;
}
/* Download Button */
.download-button{
    margin: 5% 3% 5% 0;
}
/* Title Image */
.title-image{
    width: 60%;
    transform: rotate(25deg);
}
/* Features Section */
#features{
    padding: 7% 15%;

}
.features-box{
    text-align: center;
    padding: 5%;
}
.icon{
    color:#ef8172;
    margin-top: 1rem;
}
.icon:hover{
    color:#ff4c68 ;
}
/* Testimonials Section */
#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color:#ef8172 ;
    color: #fff;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px; 
}
#press{
    background-color:#ef8172 ;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

